*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

h1{
    color: rgb(0, 0, 0);

    font-size: 35px;
    font-weight: 800;
}

.flex-container{
    width: 100%;

    padding: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: auto;
    flex-direction: column;

    margin-top: 5px;
    padding-top: 20px;

    background: none;
    border: 1px solid black;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.199); */
}

.subtitle{
    font-size: 11px;
    
    color: rgba(0, 0, 0, 0.4);
}

input{
    border: none;
    border-bottom: solid rgb(143, 143, 143) 1px;

    margin-bottom: 30px;

    background: none;
    color: rgba(0, 0, 0, 0.5);
    
    height: 35px;
    width: 300px;
}

.submit-btn{
    cursor: pointer;

    border: none;
    border-radius: 8px;

    background: #38d39f;
    color: rgba(255, 255, 255, 0.842);
    
    width: 80px;

    transition: all 1s;
}

.submit-btn:hover{
    color: rgb(255, 255, 255);

    box-shadow: none;
}

.change-form-btn{
    font-size: 10px;
    color: rgb(134, 134, 134);
    
    margin-left: 10px;
}

.change-form-btn a{
    font-size: 10px;
    color: rgb(189, 189, 189);
    padding-bottom: 5px;
}

.change-form-btn a:hover{
    border-bottom: 2px solid #38d39f;
}
