.navbar {
    width: 100%;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	border-bottom: 1px solid #dddddd;
    padding: 1em;
}

.navlinks {
    display: flex;
    gap: 1em;
}

@media (max-width: 600px) {
    .navlinks{
        display: none;
    }
}